# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
asn1crypto==0.24.0
#blas==1.0 - removing this so binder works
bokeh==0.13.0
boto==2.49.0
boto3==1.7.62
botocore==1.10.62
#ca-certificates==2018.4.16 - removing this so binder works
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
cycler==0.10.0
docutils==0.14
#freetype==2.9.1 - removing this so binder works
gensim==3.4.0
idna==2.7
intel-openmp==2018.0.3
jinja2==2.10
jmespath==0.9.3
#jpeg==9c  - removing this so binder works
kiwisolver==1.0.1
#libcxx==4.0.1  - removing this so binder works
#libcxxabi==4.0.1  - removing this so binder works
#libedit==3.1.20170329
#libffi==3.2.1
#libgfortran==3.0.1
#libpng==1.6.34
#libtiff==4.0.9
markupsafe==1.0
matplotlib==2.2.2
mkl==2018.0.3
#mkl_fft==1.0.4  - removing this so binder works
#mkl_random==1.0.1
#ncurses==6.1  - removing this so binder works
numpy==1.15.0
numpy-base==1.15.0
olefile==0.45.1
openssl==1.0.2o
packaging==17.1
pandas==0.23.3
pillow==5.2.0
pip==10.0.1
pycparser==2.18
pyopenssl==18.0.0
pyparsing==2.2.0
pysocks==1.6.8
python==3.6.6
python-dateutil==2.7.3
pytz==2018.5
pyyaml==3.13
readline==7.0
requests==2.19.1
s3transfer==0.1.13
scipy==1.1.0
setuptools==39.2.0
six==1.11.0
smart_open==1.6.0
sqlite==3.24.0
tk==8.6.7
tornado==5.0.2
urllib3==1.23
wheel==0.31.1
wordcloud==1.4.1
xz==5.2.4
yaml==0.1.7
zlib==1.2.11
